<!DOCTYPE html>
<html>
<head>
    <title>school</title>
    <script type="text/javascript">
        function query_student(){
            location.href="/query_student"
        }
        function query_teacher(){
            location.href="/query_teacher"
        }
        function query_course(){
            location.href="/query_course"
        }
        function query_wife(){
            location.href="/query_wife"
        }        

    </script>
</head>
<body>
    <p>
        查看学生信息：<input type="button" onclick="query_student()" value="查看">
    </p>
    <p>
        查看老师信息：<input type="button" onclick="query_teacher()" value="查看">
    </p>
    <p>
        查看课程信息：<input type="button" onclick="query_course()" value="查看">
    </p>  
    <p>
        查看老师配偶信息：<input type="button" onclick="query_wife()" value="查看">
    </p>  
</body>
</html>